<div class="ui attached segment"><i class="cart plus icon"></i>
    {{ product.name }}
    <a class="ui teal button" href="{{ path('store') }}" >Retour au store</a>
</div>

<div class="ui grid container">
    <div class="four wide column">{{ product.name }}</div>
    <div class="four wide column">{{ product.image }}</div>
    <div class="four wide column">{{ product.price }}</div>
    <div class="four wide column">{{ product.comments }}</div>
    <div class="four wide column">{{ product.basketdetails }}</div>
</div>