<div class="ui grid">
    <div class="four wide column">
        <a class="ui teal button" href="{{ path('home') }}" >Tableau de bord</a>
        <div class="ui vertical inverted menu">
            {% for section in sections %}
            <a href="{{ path('section', [section.id]) }}" class="item">{{ section }}
                <span class="ui circular label">{{ section.products|length }}</span>
            </a></br>
            {% endfor %}
        </div>
    </div>
    {% if content %}
        <div class="twelve wide stretched column"><div class="column">{{ content|raw }}</div></div>
    {% else %}
    <div class="twelve wide stretched column">
        <div  class="ui one column grid">
            <div class="ui attached segment">Promotions en cours</div>
            <div class="ui attached blue segment">
                <div class="ui divided list">
                    <div class="item">
                        <div class="ui four column grid">
                            {% for product in promos %}
                            <div class="column">
                                <a href="{{ path('product',[product.section.id, product.id]) }}" class="item">{{ product.name }}</a><br>
                                <label>{{ product.price }} €</label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div  class="ui one column grid">
            <div class="ui attached segment">Consultés récemment</div>
            <div class="ui attached black segment">
                <div class="ui divided list">
                    <div class="item">
                        <div class="ui four column grid">
                            {% for product in recentViewedProducts %}
                            <div class="column">
                                <a href="{{ path('product',[sections.id, product.id]) }}" class="item">{{ product.name }}</a><br>
                                <a class="ui tag label">{{ product.price }} €</a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
